# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env

# Packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
